tar.bz2: r23547:. name=@name@-svn-r23547
tar.bz2: standard-1.9:. name=standard-1.9 base=standard
tar.bz2: ffmpeg-r9292:. name=ffmpeg-svn-9292
copy: *.sh *.in *.diff *-explicit_gif.patch *-ext_ffmpeg.patch *-configure.patch *-dirac.patch *-subreader.patch *-gui_nls.patch *-nls.patch *-builddocs.patch *-gui.patch *-demux_nut.patch ffmpeg-*.patch
gzip: *.awk *-vbe.patch *-artsc_ldflags.patch *-polyp0.8.patch mplayer-dvd-ru-*.patch *-vo_vidix.patch *-pulseaudio.patch
